* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


main{
    opacity: 0;
    animation: aparecerMain 0.4s ease forwards;
}

@keyframes aparecerMain{
    from{
        opacity: 0;
        transform: translateY(8px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTENEDOR */
.producto-container {
    width: 85%;
    margin: 80px auto;
    display: flex;
    gap: 50px;
}

/* GALERIA */
.producto-galeria {
    width: 30%;
}

.imagen-principal{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.imagen-principal img{
    width: 70%;
    display: block;

    opacity: 1;
    transform: scale(1);

    transition:
        opacity 0.6s ease,
        transform 0.8s ease;
}

/* animacion activa */
.imagen-principal img.animar{
    opacity: 0;
    transform: scale(1.05);
}

/* miniaturas */
.miniaturas{
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.miniaturas img{
    width: 90px;
    border-radius: 10px;
    cursor: pointer;

    opacity: 0.55;
    transform: scale(1);

    transition: all 0.35s ease;
}

.miniaturas img:hover{
    opacity: 0.9;
    transform: translateY(-3px);
}

.miniaturas img.active{
    opacity: 1;
    border: 2px solid #38b000;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(56,176,0,0.18);
}

/* INFO */
.producto-info {
    width: 50%;
}

.producto-info h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.subtitulo {
    color: #666;
    margin-bottom: 20px;
}

.descripcion {
    margin-bottom: 20px;
}

.beneficios {
    list-style: none;
    margin-bottom: 25px;
}

.beneficios li {
    margin-bottom: 10px;
}

.beneficios img{
    width: 20px;
    padding-right: 3px;
}

/* CAJA CONSULTA */
.consulta-box {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* BOTON */
.btn-consultar {
    width: 100%;
    background: #38b000;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-consultar:hover {
    background: #2d8600;
    transform: translateY(-2px);
}

/* FICHA */
.ficha-tecnica {
    width: 85%;
    margin: 60px auto;
}

.titulo-ficha-tec {
    padding: 10px;
    font-size: 2rem;
    color: #555;
}


.especificacion-tecnica div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

/* ANIMACIONES */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    animation: aparecer 0.8s ease forwards;
}

.delay {
    animation-delay: 0.3s;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .producto-container {
        flex-direction: column;
    }

    .producto-galeria,
    .producto-info {
        width: 100%;
    }
}